<div class="form">
  <%= form_with model: @article do |f| %>
    <p class="title">
      <%= f.label :title %>
    </p>
      <%= f.text_field :title %>
    <p class="content">
      <%= f.label :content %>
    </p>
      <%= f.text_field :content %>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>

<p class="btn"><%= link_to 'Articles list', articles_path %></p>
